snippet rm "remove file" 
:fire: remove unused file
endsnippet

snippet doc "update documentation" 
:memo: update documentation
endsnippet

snippet tada "tada" 
:tada: something good happens
endsnippet

snippet ref "refactoring" 
:recycle: refactor code
endsnippet

snippet beer "drunken coding" 
:beers: some good inspiration
endsnippet

snippet  "update config" 
:wrench: update config file
endsnippet
